.form-input {
  border: 1px solid #cacccd;
  height: $xl-size;
  font-size: $font-size-large;
  font-weight: 300;
  padding: 0 $s-size;
}

.form-textarea {
  border: 1px solid #cacccd;
  height: $xl-size;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}
.datepicker {
  margin-right: $s-size;
}
