.text-input {
  border: 1px solid #cacccd;
  height: $xl-size;
  font-size: $font-size-large;
  font-weight: 300;
  padding: 0 $s-size;
  margin-top: $xl-size;
  margin-right: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
